@charset "utf-8";
@namespace epub 'http://www.idpf.org/2007/ops';

/* =============================================================*/
/* SUMARIO 							   							*/
/* 1. Definir o CSS das fontes 									*/
/* 2. Definir as margens, sobretudo para ADE e derivados 		*/
/* 3. Remove as margens, sobretudo em sistemas webkit 			*/
/* 4. Desativa a hifenização nos titulos						*/
/* 5. Controle de orfãs e viúvas para todo o texto 				*/
/* 6. Ativa a hifenização para parágrafos 						*/
/* 7. Define o estilo do parágrafo básico 						*/
/* 8. Definição dos títulos de capítulos e sub-capítulos 		*/
/* 9. Definição dos estilos do texto 							*/
/* 10. Definição de tabelas 									*/
/* 11. Formatação de links, cores e decoração  					*/
/* ============================================================	*/


/* 1. Definir o CSS das fontes */
@font-face {
    font-family: Alegreya;
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/Alegreya-Regular.otf");
}

@font-face {
    font-family: Alegreya;
    font-style: italic;
    font-weight: normal;
    src: url("../Fonts/Alegreya-Italic.otf");
}

@font-face {
    font-family: Alegreya;
    font-style: normal;
    font-weight: bold;
    src: url("../Fonts/Alegreya-Bold.otf");
}

/* 2. Definir as margens, sobretudo para ADE e derivados. */
@page {
margin-left: 1em;
margin-right: 1em;
margin-top: 0.5em;
margin-bottom: 0.5em;
}

/* 3. Remove as margens, sobretudo em sistemas webkit. */
body {
  margin: 0;
}


/*  4. Desativa a hifenização nos titulos e a quebra das paginas. */
h1, h2, h3, h4, h5, h6 {
	  -epub-hyphens: none;
  -webkit-hyphens: none;
     -moz-hyphens: none;
          hyphens: none;
 page-break-after:avoid;

}

/* 5. Controle de orfãs e viúvas para todo o texto */
p,
blockquote {
  orphans: 2;
  widows: 2;
}

/*  6. Ativa a Hifenização para parágrafos */
p,
figcaption {
	  -epub-hyphens: auto;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

/*  7. Define o estilo do parágrafo básico */
p {
    font-family: Alegreya, Georgia, serif;
    font-size: 1em;
    font-style: normal;
	font-weight: normal;
    margin:0;
    text-indent: 0em;
    line-height: 1.4em;
    text-align: justify;
	margin-bottom: 0.3em;
	text-indent:1.5em;
    }
    
/*  8. Definição dos títulos de capítulos e sub-capítulos */
h1
    {
    font-family: Alegreya, Georgia, serif;
    font-size: 2em;
    font-style: normal;
	font-weight: normal;
    margin-top: 1em;
    margin-bottom:3em;
    text-align: center;
    text-indent: 0;
	 color:#c92a17;
    }
h2
    {
    font-family: Georgia, serif;
    font-size: 1.2em;
    font-style: normal;
	  font-weight: bold;
    margin-top: 1em;
    margin-bottom:2em;
    text-align: center;
    text-indent: 0;
    }
h3
    {
    font-family: Georgia, serif;
    font-size: 1.2em;
    font-style: normal;
	  font-weight: bold;
    margin-top: 1em;
    margin-bottom:2em;
    text-align: center;
    text-indent: 0;
    }
h4
    {
    font-family: Georgia, serif;
    font-size: 1.2em;
    font-style: normal;
	  font-weight: bold;
    margin-top: 1em;
    margin-bottom:2em;
    text-align: center;
    text-indent: 0;
    }
h5
    {
    font-family: Georgia, serif;
    font-size: 1.2em;
    font-style: normal;
	  font-weight: bold;
    margin-top: 1em;
    margin-bottom:2em;
    text-align: center;
    text-indent: 0;
    }
h6
    {
    font-family: Georgia, serif;
    font-size: 1.2em;
    font-style: normal;
	  font-weight: bold;
    margin-top: 1em;
    margin-bottom:2em;
    text-align: center;
    text-indent: 0;
    }
    
/*  9. Definição dos estilos do texto */


p.firstPara:first-line {
	font-variant: small-caps;
	font-size: 1.1em;
}

p.firstPara:first-letter {
	font-size: 2.9em;
	float: left;
	line-height: 1em;
	margin-bottom: -0.2em;
}

p.firstPara    {
    text-indent:0em;
    }
    


h1.tituloLivro {
    font-family: "Gotham Narrow Ultra";
	margin-bottom: 0em;
	margin-top: 3em;
}

h1.partes {
    font-family: "Gotham Narrow Ultra";
	margin-bottom: 2em;
	margin-top: 3em;
}

.autor
    {
    font-size: 1em;
    text-indent: 0em;
    text-align: center;
    margin-bottom: 1.17em;
text-indent:0em;
    }

.noindent {
text-indent:0em;
}

.creditos
    {
    font-size: .9em;
    text-indent: 0em;
    text-align: center;
    margin-left: 0;
    margin-bottom: 1em;
text-indent:0em;
    }

div.midias {

margin-top: 3em;
}

section.creditos {
margin-top: 10%;
}

section.sumario {
margin-left: 2em;
}



blockquote
    {
    margin-left:2.5em;
    margin-right:1em;
    text-indent:-1em;
    text-align: left;
    }

.left
    {
    text-align: left;
    }
.center
    {
    text-align: center;
    text-indent:0em;
    }
.right
    {
    text-align: right;
    }
.bold, strong, b
    {
    font-weight: bold;
    }
.italic, em, i
    {
    font-style: italic;
    }

img
    {
    max-width: 100%;
    }

pre
    {
    margin:0pt;
    font-family:monospace;
    text-indent:0em;
    text-align: left;
    font-size: .80em;
    white-space: pre-wrap;
    }


.break
    {
    	page-break-before: always;
    }
hr
    {
    width: 70%;
    margin-left: 15%;
    }
    
span.fakesmallcaps {font-size: .75em}

div.boxImagem, div.boxVideo {
text-align: center;
margin-top: 1em;
margin-bottom: 1em;
}


div.boxTexto p {
	text-indent: 0;
}

p.escolha {
text-align: center;
text-indent: 0;
margin: 0;
}

p.legenda {
text-indent: 0;
text-align: center;
font-weight: bold;
margin: 0;
}

p.voltar {
text-align: center;
margin-top: 1em;
text-indent: 0;
}


/* 10. Definição de tabelas 				*/

table
    {
    cellpadding: 1px;
    cellspacing: 2px;
    rules:all;
    display: inline-table;
    border-collapse:collapse;
    margin-left:0px;
    margin-right:0px;
    }
tr
    {
    }
td
    {
    border:1px solid black;
    }

/* 11. Formatação de links, cores e decoração  */
a
    {
    color: inherit;
    text-decoration:none;
    }

a.touchLink {
	color: #c92a17;
}

