/*  Booknando — CSS framework for reflowable eBooks      
    Version 0.2 by José Fernando Tavares
    Based on: Blitz by Jiminy Panoz                      
    License: MIT (https://opensource.org/licenses/MIT)   */

/* Folha de estilos para a ZAHAR */

@charset "UTF-8";

/* NAMESPACES */
@namespace h "http://www.w3.org/1999/xhtml/";
@namespace epub "http://www.idpf.org/2007/ops";

/* DECLARAÇÃO DE FONTES */
@font-face {
    font-family: "AvenirLTStd-Black";
    font-weight: bold;
    font-style: normal;
    src: url(../Fonts/AvenirLTStd-Black.otf);
}

@font-face {
    font-family: "AvenirLTStd-Medium";
    font-weight: bold;
    font-style: normal;
    src: url(../Fonts/AvenirLTStd-Medium.otf);
}

@font-face {
    font-family: "AvenirLTStd-Light";
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/AvenirLTStd-Light.otf);
}

/* Garante compatibilidade com leitores de epub2 */
article,
aside,
figure,
figcaption,
footer,
header,
main,
nav,
section {
  display: block;
}
[hidden] {
  display: none;
}

/* ePub3 - Tenta prevenir erros no nav */
nav[epub|type~="toc"] ol {
  list-style: none !important;
}
/* ePub3 - Tenta prevenir erros no nav */
nav[epub|type~="landmarks"],
nav[epub|type~="page-list"] {
  display: none;
}
nav[epub|type~="toc"] ol li:first-child {
display: none;
}

nav[epub|type~="toc"] ol li:last-child {
display: none;
}

nav[epub|type~="toc"] h1 {
margin-bottom: 4em;
}

nav[epub|type~="toc"] li span {
display: block;
font-style: italic;
}

/* ePub3 - Tenta prevenir erros em elementos inline */
a,
abbr,
b,
bdi,
bdo,
cite,
code,
data,
del,
dfn,
ins,
kbd,
mark,
q,
rp,
rt,
rtc,
ruby,
s,
samp,
small,
span,
strong,
sub,
sup,
time,
var {
  font-size: inherit;
  vertical-align: baseline;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}
q {
  quotes: none;
}

/* ePub3 - Tenta prevenir páginas em branco */
body > :last-child,
body > section > :last-child {
  margin-bottom: 0;
}

/* Definir as margens, sobretudo para ADE e derivados. */
@page {
margin-left: 1em;
margin-right: 1em;
margin-top: 0.5em;
margin-bottom: 0.5em;
}

/* Remove as margens, sobretudo em sistemas webkit. */
body {
  margin: 0;
}


/*  Desativa a hifenização nos elementos abaixo */
h1,
h2,
h3,
h4,
h5,
h6,
blockquote p cite,
dt,
pre,
address,
table,
caption,
th,
td,
.align-left,
.align-center,
.align-right,
.caption,
.no-hyphens {
  adobe-hyphenate: none;
  /* ADOBe*/
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -epub-hyphens: none;
  hyphens: none;
}
/*  Controle de quebra de página */

h1,
h2,
h3,
h4,
h5,
h6,
dt,
hr {
  page-break-inside: avoid;
  break-inside: avoid;
  page-break-after: avoid;
  break-after: avoid;
}

/* Controle de orfãs e viúvas para todo o texto */
p,
blockquote {
  orphans: 2;
  widows: 2;
}



/*  Ativa a Hifenização para parágrafos */
p,
figcaption, 
li {
	  -epub-hyphens: auto;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

/* Elementos básicos */
a
    {
    color:inherit;
    text-decoration:none;
  	}
.left
    {
    text-align: left;
    }
.center
    {
    text-align: center;
    text-indent:0em;
    }

.right
    {
    text-align: right;
	text-indent:0em;
    }
.underline
    {
    text-decoration:underline;
    }
img
    {
    max-width:100%;
    }
sup 
	{ 
	font-size:65%; 
	vertical-align:0.4em;
	}
sub
	{ 
	font-size:65%; 
	vertical-align:-0.4em;
	}
small {
	font-size: 80%;
	}
.pagebreak {
	page-break-before: always;
}
/* Altera comportamento no bloco de citação*/

blockquote p i,
blockquote p em,
blockquote p cite {
  font-style: normal;
}

/* ELEMENTOS DE DESIGN 
Inserir formatação dos livros daqui em diante
*/
 .author {
	font-family: serif;
	font-size:1.1em;
	margin-top: 0.5em;
	margin-bottom:0em;
	text-align:left;
	text-indent:0em;
}

p.author + p.author {
margin-top: 0;
}

.title {
	font-family: serif;
	font-size:2em;
	font-weight:normal;
	margin-top: 2em;
	margin-bottom:0em;
	text-align:left;
	text-indent:0em;
}
.sub {
	font-family:  serif;
	font-size:1.2em;
	margin-bottom:2em;
	text-align:left;
	text-indent:0em;
}
.subtitle1 {
	font-family:  serif;
	font-size:0.85em;
	margin-bottom:1.2em;
	text-align:left;
	text-indent:0em;
}
.subtitle2 {
	font-family:  serif;
	font-size:0.9em;
	margin-bottom:2em;
	text-align:left;
	text-indent:0em;
}
.pub {
	margin-top:8%;
	text-align:right;
	text-indent:0em;
}


/*sumário*/



#toc ol {
	list-style-type: none;
	padding-left: 1em;
}
#toc  ol.sumario1 {
	list-style-type: none;
	margin-left: 0;
	text-indent: 0;
}
#toc ol li {
    margin-left: 0em;
    text-indent: 0;
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 0.5em;

}
#toc ol li li {
    margin-left: 0em;
    margin-top: 0em;
    text-indent: 0;
	padding: 0;
}



/*títulos */
.parte {
	font-family:  serif;
	font-size:1.8em;
	margin-top: 20%;
	text-align:left;
	text-indent:0em;
}
.chapno {
	font-size:1.1em;
	margin-bottom:0em;
	text-align:left;
	text-indent:0em;
}
h1 {
   font-family: "AvenirLTStd-Medium", sans-serif;
	font-size:1.3em;
	font-weight:normal;
	margin-top: 1em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
}

h1.pretitle {
	font-family:  serif;
	font-size:1.3em;
	font-weight:bold;
	margin-top: 1em;
	margin-bottom:4em;
	text-align:left;
	text-indent:0em;
}

h2 {
	font-family:  serif;
	font-size:1.1em;
	font-weight:bold;
	margin-top: 3em;
	margin-bottom:1em;
	text-align:left;
	text-indent:0em;
}

h3 {
	font-family:  serif;
	font-size:1.1em;
	font-weight:normal;
	font-style:italic;
	margin-top: 2em;
	margin-bottom:1em;
	text-align:left;
	text-indent:0em;
}



/*texto*/
p {
    font-family: serif;
    font-size: 1em;
    font-style: normal;
	font-weight: normal;
    margin:0;
    text-indent: 0em;
    line-height: 1.4em;
    text-align: justify;
	margin-bottom: 0.3em;
	text-indent:1.5em;
    }

p.subtitulo {

}

p.perguntas {
    font-family: sans-serif;
}

p.perguntasFirst {
    font-family: sans-serif;
	text-indent: 0em;
}

li {
    font-family: serif;
    font-size: 1em;
    font-style: normal;
	font-weight: normal;
    text-indent: 0em;
    line-height: 1.4em;
}

p.epigrafe {
font-size: 0.9em;
text-align: right;
margin-bottom: 2em;

}
.epi {
	font-size: 0.9em;
	margin-top: 20%;
	text-align: left;
	text-indent: 0;
font-style: normal;
margin-left: 30%;
}

.epiAssinatura {
	font-size: 0.9em;
	text-indent: 0;
font-style: normal;
text-align: right;
}

.versalete {
font-variant: small-caps;

}
.noindent 
	{
	text-indent: 0;
	}
.noindent1 {
	margin-top: 2em;
	text-indent:0em;
}
.noindent2 {
	margin-top: 1.2em;
	text-indent:0em;
}
.space {
	margin-top: 1.2em;
}

section.footnote {
margin-top: 1em;
padding-top: 0.5em;
}

._idFootnote {
	font-size:0.8em;
	margin-top: 0.3em;
	margin-bottom:0em;
	text-align:left;
	text-indent:0em;
}
hr.fio {
	margin-top: 3em;
	margin-bottom: 0.2em;
	margin-right: 70%;
	text-align: left;
	page-break-after: avoid;
}
.cita1 {
	font-size:0.9em;
	margin-left: 1.2em;
	text-align:justify;
	text-indent:0em;
}
.cita2 {
	font-size:0.9em;
	margin-left: 2em;
	text-align:justify;
	text-indent:0em;
}
.citat {
	font-size:0.9em;
	margin-top: 1.2em;
	margin-left: 1.2em;
	text-align:justify;
	text-indent:0em;
}
.cita1b {
	font-size:0.9em;
	margin-bottom:1.2em;
	margin-left: 1.2em;
	text-align:justify;
	text-indent:0em;
}
.cita2b {
	font-size:0.9em;
	margin-bottom:1.2em;
	margin-left: 2em;
	text-align:justify;
	text-indent:0em;
}
.citar {
	font-size:0.9em;
	margin-bottom:1.2em;
	margin-left: 1.2em;
	text-align:right;
	text-indent:0em;
}
.citacao {
	font-size:0.9em;
	margin-top:1.2em;
	margin-bottom:1.2em;
	margin-left: 1.2em;
	text-align:justify;
	text-indent:0em;
}
.cronologia {
	font-size: 0.90em;
    margin-left: 0em;
	margin-bottom: 1em;
    text-indent: 0em;
}

.smallCaps {
font-variant: small-caps;
}

.autor {
font-variant: small-caps;
}

.autorRight {
font-variant: small-caps;
text-align: right;
}

.perguntasFirst {
text-indent: 0em;
	margin-top: 1.5em;
}

.respostaFirst {
text-indent: 0em;
	margin-top: 3.5em;
}

.Citacao {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	text-indent: 0;
}

.citacaoPergunta {
	font-family: sans-serif;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	text-indent: 0;
}

.resposta {
    text-indent: 0em;
	margin-top: 1.5em;
}

._idFootnoteLink {
font-size: 0.8em;
vertical-align: 0.3em;
line-height: 1em;

}

.rodape {
text-indent: 0;
}

/*imagens*/
figure
	{
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	}
figcaption {
	font-size:0.8em;
	margin-left: 20%;	
	margin-right: 20%;
	margin-bottom:1.5em;
	text-align:center;
	text-indent:0em;
	page-break-before: avoid;
}

/* copyright */
.copy 
	{
	font-size: 80%;
	text-align:left;
	text-indent:0em;
	}
.copy1 
	{
	font-size: 80%;
	margin-top: 1.2em;
	text-align:left;
	text-indent:0em;
	}

.numCap {
   font-family: "AvenirLTStd-Black";
	text-align:center;
	text-indent:0em;
	margin-top: 1em;
}

.subtitulo {
   font-family: "AvenirLTStd-Light";
	text-align:center;
	margin-bottom: 10%;
text-indent:0em;
}

	
	
/*Info para Amazon*/
@media amzn-kf8
{
a {
color: inherit;
}
}
@media amzn-mobi
{
a {
color: inherit;
}
} 

