@font-face {
    font-family: Alegreya;
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/Alegreya-Regular.otf");
}

@font-face {
    font-family: Alegreya;
    font-style: italic;
    font-weight: normal;
    src: url("../Fonts/Alegreya-Italic.otf");
}

@font-face {
    font-family: Alegreya;
    font-style: normal;
    font-weight: bold;
    src: url("../Fonts/Alegreya-Bold.otf");
}


@font-face {
    font-family: "Gotham Narrow Ultra";
    font-style: normal;
    font-weight: bold;
    src: url("../Fonts/GothamNarrow-Ultra.otf");
}
